.gift-pairs-list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.gift-pairs-list-item {
	--itemHeight: 36px;

	display: flex;
	color: var(--color-bg);
	background-color: var(--color-surface-2);
	justify-content: space-between;
	border-radius: var(--border-radius);
	align-items: center;
	height: var(--itemHeight);
	padding-left: 12px;
}

.gift-pairs-list-item__icon {
	width: 21px;
	height: 21px;
}
