.app__sections {
	display: flex;
	gap: 16px;
	background-color: var(--color-surface-1);
	padding: 20px;
	border-radius: var(--border-radius);
}

.app__title {
	text-align: center;
	margin-bottom: 16px;
}

.app__link {
	color: inherit;
	text-decoration: none;
}
