.gift-pair-view {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.gift-pair-view__group {
	border-radius: var(--border-radius);
	padding: 6px 8px;
}

.gift-pair-view__group--wishlist {
	background-color: var(--color-surface-3);
}

.gift-pair-view__group--anti-wishlist {
	background-color: var(--color-surface-10);
}
