.gift-pairs {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	/* width: 100%;
	max-width: 300px; */

	&:has(.gift-pairs-list:not(:empty)) .participants-list {
		display: none;
	}
}

.gift-pairs__empty-message {
	margin-top: 2px;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	color: hsl(0, 100%, 75%);
	font-size: 12px;

	&:empty {
		display: none;
	}
}
