.secret-santa {
	display: flex;
	gap: 16px;
	background-color: var(--color-surface-1);
	padding: 20px;
	border-radius: var(--border-radius);
	width: 100%;
	max-width: 800px;
}

.secret-santa > section {
	flex: 0 1 50%;
}

.secret-santa__gift-pairs-view {
	flex: 1 1 100% !important;
}

@media (max-width: 500px) {
	.secret-santa {
		flex-direction: column;
		width: 100%;
	}
	.secret-santa > section {
		flex: 1 1 100%;
	}
}
